
.all-teams {
    padding: 50px;
  }
  .search-team {
    padding: 30px;
  }
  .cart {
    padding: 10px;
    height: 500px;
    border: 1px solid gray;
    margin-top: 10px;
  
    
  }
  .cart-details{
      padding: 30px;
      text-align: center;
  }
  .text-area {
    text-align: center;
    /* background-color: rgb(131, 124, 124); */
   
  }
  .header{
    text-align: center;
    font-size: 59px;
    font-weight: 500px;
    padding-bottom: 40px;
  }
  