 .allcompo{
    
     margin-top: 30px;
 }
 .about-container{
    
    height: 780px;
    width: 100%;
    margin-bottom: 30px;
    
} 
.title-about {
   background-color:blueviolet;
  font-weight: bold;
  font-size: 40px;
  border-radius: 2px-solid-gray;
}

.list{
 
    font-weight: bold;
    font-size: 20px;
}
.about-logo{
    background-image: url(../Images/About-background.png);
    height: 500px;
    width: 65%;
    /* border: 1px solid red; */
    background-blend-mode: overlay;
    background-repeat: no-repeat;
     background-size: cover; 
    background-position: left;
}
