.contact-logo{
    background-image: url(../Images/interview.png);
    height: 400px;
    width: 80%;
    /* border: 1px solid red; */
    background-blend-mode: overlay;
    background-repeat: no-repeat;
     background-size: cover; 
    background-position: left;
    margin-top: 100px;
}
.contact-image{
    text-align: center;
}
.divided{
    margin-top: 100px;
}