.banner {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../../../Assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    background-position: center center;
}